@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to book a giraffe</h1>
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Giraffe#Habitat_and_feeding">what they eat</a>.</p>
</div>
